@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    background-color: #D76E6B;
}

#container {

    text-align: justify;
    color: #020102;
    background: linear-gradient(90deg,
            #D76E6B 50%,
            #6E3332 100%);

}


#box {
    text-align: center;
    background-color: #D76E6B;
    border-color: #020102;
    font-size: large;
    
}

#box img, p {
    border-style: solid;
    position:relative;top:0;
    padding:4px;
    transition: all .2s ease-in-out
    
}
#box img:hover{
    top:-4px;
    box-shadow:0 4px 3px #6E3332
}

#box a {
    color: #D76E6B;
    background-color: #020102;
    border-style: solid;
    border-color: #D76E6B;
    position:relative;top:0;
    padding:4px;
    transition: all .2s ease-in-out
    
}

#box a:hover{
    top:-4px;
    box-shadow:0 4px 3px #6E3332
}

@keyframes animacao_02{
    from{opacity: 0; transform: scale(0.5); }
    to{opacity: 1; transform: scale(1); }
}

p {
    text-align: justify;
}

h2 {
    text-align: center;
    color: #D76E6B;
    background-color: #020102;
    font-size: 40px;
}

Carrossel

#carrossel{
    background-color: #D76E6B;
    color: #020102;
     max-width: 70%;

    
    
}

#carrossel p, h5{
    color: #FCEBC0;
    background-color: #020102;
    
    
}


.footer-arrow svg {
    width:100%;
    background-image: linear-gradient(180deg,#D76E6B ,#6E3332 );

}

.footer-arrow .shape-fill {
    fill: #D76E6B;
    
}

#box1 {
    width: 100%;
    background-color: #6E3332;
}

#colfooter{
    border-style: dotted;
    border-color: #FCEBC0;
}
#colfooter .titleFooter {
    color: #FCEBC0;
    text-align: center;
}

#colfooter p {
    color: #FCEBC0;
    text-align: center;
}

#colfooter .redesocial {
    text-align: center;
    color: #FCEBC0;
    text-decoration: none;
    width: 100%;
    float: left;
    transition: 0.2s;
}

#colfooter .redesocial:hover {

    color: #D76E6B;
    transition: 0.2s;
}

#box2 {
    width: 100%;
    background-color: #6E3332;
    color: #FCEBC0;
    
}
P { text-align: center }

.by i {
    margin-right: 2px;
    color: #e82626;
}

